*, html {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  background: #77e0a7;
  color: #efecca;
  font-family: 'Helvetica', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  line-height: 0.5; }

h1 {
  font-size: 80px; }

h2 {
  font-size: 40px; }

h3 {
  font-size: 30px; }

h4 {
  font-size: 20px; }

.position--absolute {
  position: absolute; }

.hidden {
  display: none; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.tinted {
  background-color: rgba(0, 0, 0, 0.5); }

.container {
  margin: 80px;
  position: relative; }

.report {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.map {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.popover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); }
  .popover .popover__inner {
    margin: 80px;
    width: calc(100% - 160px);
    padding: 20px;
    background: white;
    border-radius: 17px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.9); }
    .popover .popover__inner ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%; }
      .popover .popover__inner ul li {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        float: left;
        margin: 3px 9px 3px 3px;
        padding: 15px;
        width: calc(33.33% - 10px);
        height: calc(100% - 6px);
        text-align: center;
        font-size: 2rem;
        color: black;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-out; }
        .popover .popover__inner ul li.on {
          background: #77e0a7;
          color: black;
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4); }
        .popover .popover__inner ul li:last-of-type {
          margin-right: 0; }

/*# sourceMappingURL=main.css.map */
