*, html {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background: $green;
  color: $beige;
  font-family: 'Helvetica', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headlineFont;
  font-weight: 100;
  line-height: 0.5;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

.position--absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.tinted {
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  margin: 80px;
  position: relative;
}

.report {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}