.popover {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.75);

  .popover__inner {
    margin: 80px;
    width: calc(100% - 160px);
    padding: 20px;
    background: white;
    border-radius: 17px;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.9);

    .popover__options {

    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      height: 100%;

      li {
        display: block;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 6px;
        float: left;
        margin: 3px 9px 3px 3px;
        padding: 15px;
        width: calc(33.33% - 10px);
        height: calc(100% - 6px);
        text-align: center;
        font-size: 2rem;
        color: black;
        box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.15);
        transition: all 0.3s ease-out;

        &.on {
          background: $green;
          color: black;
          box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.4);
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}